PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE provinces (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255) NOT NULL
  );
CREATE TABLE cities (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255) NOT NULL,
    province_id INT,
    FOREIGN KEY (province_id) REFERENCES provinces(id)
  );
INSERT INTO cities VALUES(1,'Aceh',NULL);
INSERT INTO cities VALUES(2,'Bali',NULL);
INSERT INTO cities VALUES(3,'Bandung',NULL);
CREATE TABLE users (
    id INT PRIMARY KEY AUTO_INCREMENT,
    email VARCHAR(255) UNIQUE NOT NULL,
    password VARCHAR(255) NOT NULL,
    name VARCHAR(255) NOT NULL,
    created_at VARCHAR(255) NOT NULL,
    updated_at VARCHAR(255) NOT NULL
  );
INSERT INTO users VALUES(1,'test@example.com','123456','Rifa Baru','2025-06-01T04:45:14.887Z','2025-06-02T06:11:55.364Z');
INSERT INTO users VALUES(2,'rifa@rifa.com','Rifa123','Rifa','2025-06-03T13:23:01.980Z','2025-06-03T13:23:01.980Z');
INSERT INTO users VALUES(3,'test@e.com','123456','Rifa','2025-06-04T11:55:04.149Z','2025-06-04T11:55:04.149Z');
CREATE TABLE destinations (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255) NOT NULL,
    city_id INT NOT NULL,
    latitude REAL NOT NULL,
    longitude REAL NOT NULL,
    description VARCHAR(255),
    created_at VARCHAR(255) NOT NULL,
    updated_at VARCHAR(255) NOT NULL,
    FOREIGN KEY (city_id) REFERENCES cities(id)
  );
INSERT INTO destinations VALUES(1,'Taman Nasional Gunung Leuser',1,3.741000000000000103,97.1548999999999979,'Taman Nasional Gunung Leuser adalah salah satu dari enam taman nasional yang terletak di Pulau Sumatera, Indonesia. Taman nasional ini merupakan salah satu kawasan lindung yang penting bagi flora dan fauna endemik, termasuk spesies langka seperti orangutan Sumatera, harimau Sumatera, dan gajah Sumatera.','2025-06-01 22:21:40','2025-06-01 22:21:40');
INSERT INTO destinations VALUES(2,'Desa Wisata Munduk',2,-8.268660000000000566,115.0794700000000005,'Desa Wisata Munduk adalah sebuah desa di pegunungan Bali yang terkenal dengan keindahan alamnya. Desa ini dikelilingi oleh perkebunan kopi, kakao, dan rempah-rempah, serta memiliki udara segar dan pemandangan yang menakjubkan. Di Desa Wisata Munduk, pengunjung dapat menikmati keindahan alam, trekking, melihat air terjun, dan menjelajahi kehidupan desa yang tenang.','2025-06-01 22:21:41','2025-06-01 22:21:41');
INSERT INTO destinations VALUES(3,'Desa Wisata Penglipuran',2,-8.422366500000000756,115.3596964999999984,'Desa Wisata Penglipuran adalah sebuah desa wisata yang terletak di Kabupaten Bangli, Bali, Indonesia. Desa ini terkenal karena keindahan arsitektur tradisional Bali dan kelestariannya yang terjaga dengan baik. Penglipuran sering dijuluki sebagai "desa adat Bali yang terbersih" karena kepedulian warganya terhadap kebersihan dan kerapian desa.','2025-06-01 22:21:41','2025-06-01 22:21:41');
CREATE TABLE events (
    id INT PRIMARY KEY AUTO_INCREMENT,
    title VARCHAR(255) NOT NULL,
    location VARCHAR(255),
    category VARCHAR(255),
    start_date VARCHAR(255) NOT NULL,
    end_date VARCHAR(255) NOT NULL,
    description VARCHAR(255),
    detail_url VARCHAR(255),
    created_at VARCHAR(255) DEFAULT (datetime('now')),
    updated_at VARCHAR(255) DEFAULT (datetime('now'))
  );
INSERT INTO events VALUES(1,'Festival Bakar Tongkang','Rokan Hilir | Riau','Event Budaya','10 Juni 2025','12 Juni 2025','Festival Bakar Tongkang adalah perayaan tradisi yang kaya akan sejarah dan budaya. Diselenggarakan setiap tahun di Bagansiapiapi, festival ini menampilkan ritual pembakaran tongkang yang sarat dengan doa.','https://eventdaerah.kemenparekraf.go.id/detail-event/festival-bakar-tongkang-3','2025-06-01 02:17:13','2025-06-01 02:17:13');
INSERT INTO events VALUES(2,'Festival Nasional Reog Ponorogo dan Grebeg Suro','Ponorogo | Jawa Timur','Event Budaya','17 Juni 2025','26 Juni 2025','Festival Nasional Reog Ponorogo (FNRP) diselenggarakan bersamaan dengan Perayaan Grebeg Suro hingga puncak kegiatannya bertepatan dengan pergantian tahun baru Islam 1 Muharram. Event ini merupakakan motor penggerak berbagai event lainnya.','https://eventdaerah.kemenparekraf.go.id/detail-event/festival-nasional-reog-ponorogo-dan-grebeg-suro','2025-06-01 02:17:13','2025-06-01 02:17:13');
INSERT INTO events VALUES(3,'Festival Bamboo Rafting','Hulu Sungai Selatan | Kalimantan Selatan','Event Budaya','17 Juni 2025','23 Juni 2025','Festival Bamboo Rafting merupakakan event pariwisata unggulan di Kabupaten Hulu Sungai Selatan. Event ini dilaksanakan dengan nama Festival Loksado.','https://eventdaerah.kemenparekraf.go.id/detail-event/festival-bamboo-rafting-2','2025-06-01 02:17:13','2025-06-01 02:17:13');
CREATE TABLE reviews (
    id INT PRIMARY KEY AUTO_INCREMENT,
    comment VARCHAR(255),
    rating INT NOT NULL,
    user_id INT NOT NULL,
    destination_id INT,
    event_id INT,
    created_at VARCHAR(255) NOT NULL,
    updated_at VARCHAR(255) NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(id),
    FOREIGN KEY (destination_id) REFERENCES destinations(id),
    FOREIGN KEY (event_id) REFERENCES events(id)
  );
CREATE TABLE predicted_reviews (
    id               INT PRIMARY KEY AUTO_INCREMENT,
    user_id          INT,
    destination_id   INT,
    predicted_rating INT CHECK(predicted_rating BETWEEN 1 AND 5),
    FOREIGN KEY (destination_id) REFERENCES destinations(id)
  );
INSERT INTO predicted_reviews VALUES(2656,1,28,2);
INSERT INTO predicted_reviews VALUES(2657,1,86,4);
INSERT INTO predicted_reviews VALUES(2658,1,94,4);
CREATE TABLE destination_photos (
    id             INT PRIMARY KEY AUTO_INCREMENT,
    destination_id INT NOT NULL,
    photo_url      VARCHAR(255) NOT NULL,
    is_gallery     INT DEFAULT 1, 
    position       INT,           
    FOREIGN KEY (destination_id) REFERENCES destinations(id)
  );
INSERT INTO destination_photos VALUES(1229,1,'https://storage.googleapis.com/travelee-capstone-projects.appspot.com/places/1.%20Taman%20Nasional%20Gunung%20Leuser/main/Taman-Nasional-Gungung-Leuser.jpg',0,0);
INSERT INTO destination_photos VALUES(1230,1,'https://storage.googleapis.com/travelee-capstone-projects.appspot.com/places/1.%20Taman%20Nasional%20Gunung%20Leuser/gallery_photo/images%20(1).jpeg',1,1);
INSERT INTO destination_photos VALUES(1231,1,'https://storage.googleapis.com/travelee-capstone-projects.appspot.com/places/1.%20Taman%20Nasional%20Gunung%20Leuser/gallery_photo/images%20(2).jpeg',1,2);
CREATE TABLE categories (
    id INT PRIMARY KEY AUTO_INCREMENT,
    name VARCHAR(255) NOT NULL UNIQUE
  );
INSERT INTO categories VALUES(1,'Budaya');
INSERT INTO categories VALUES(2,'Taman Nasional');
INSERT INTO categories VALUES(3,'Desa Wisata');
CREATE TABLE destination_categories (
    destination_id INT NOT NULL,
    category_id INT NOT NULL,
    PRIMARY KEY (destination_id, category_id),
    FOREIGN KEY (destination_id) REFERENCES destinations(id),
    FOREIGN KEY (category_id) REFERENCES categories(id)
  );
INSERT INTO destination_categories VALUES(1,1);
INSERT INTO destination_categories VALUES(1,2);
INSERT INTO destination_categories VALUES(2,3);
CREATE TABLE user_preferences (
    user_id INT PRIMARY KEY,
    preferences VARCHAR(255) NOT NULL,
    FOREIGN KEY (user_id) REFERENCES users(id)
  );
INSERT INTO user_preferences VALUES(1,'pantai, gunung, pulau, desa, taman nasional');
INSERT INTO sqlite_sequence VALUES('events',102);
INSERT INTO sqlite_sequence VALUES('users',3);
INSERT INTO sqlite_sequence VALUES('cities',53);
COMMIT;
